html {
  height: 100%
  }

  body{
    min-height: 100%;
    display: grid;
    font-size: 25px;
    font-weight: 100;
    display: grid;
    grid-template-rows: 45px auto auto auto 180px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: darkblue
    }

/* Navigation */
  .navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkblue;
    font-size: 15px; 
    }

.navigation ul {
  display: flex;
  justify-content: right;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  }


.navigation li {
  display: inline-block;
  padding: 14px 10px;
  text-transform: uppercase;
  }

.navigation a {
  color: darkblue;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

.navigation a:link{
  text-decoration: none;
  }

.navigation a:hover {
  background-color: darkblue;
  color: white;
  }

  .navigation a.current {
  font-weight: bold;
  text-decoration: underline;
  }

  .topnav input[type=tet] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 30px;
  }

/*  */

#Hello {
  grid-row: 2;
  grid-column: 1 / -1;
  background-image: url("../images/background.jpg");
  height: 100vh;
  width: 100vw;
  background-color:darkblue;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#Hello div {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding: 35px 0;
  position: sticky;
  top: 50px;
  color:rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 34px;
}

#intro {
  line-height: 30px;
  margin: 50px;
  font-size: 21px;
  font-weight: lighter;
  color:rgb(255, 255, 255);
  text-transform: none;
  white-space: normal;
}

#Hello div:first-of-type {
  animation: 5s 1 alternate showup;
}

#Hello div:last-of-type {
  width: auto;
  animation: 3s 1 alternate reveal;
}

#Hello div:last-of-type span {
  margin-left: 0px;
  animation: 3s 1 alternate slidein;
}

@keyframes showup {
  0% {
      opacity: 0;}

  20% {
      opacity: 1; }
}

@keyframes slidein {
  20% {margin-left: -800px;
  }

  35% {margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
      opacity: 0;
      width: 0px;
  }

  20% {
      opacity: 1;
      width: 0px;
  }

  30% {width: auto;
  }

  80% {opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  #greet div:first-of-type {
      animation: none;
  }
  
  #Hello div:last-of-type {
      animation: none;
  }
  
  #Hello div:last-of-type span {
      animation: none;
  }
}

/* Main content */
main{
  grid-row: 3;
  grid-column: 1 / -1;
  justify-self: center;
  line-height: 1.5;
  width: 100%;
  }

h1 {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 35px;
  }

.type {
  color: darkblue;
 }

.content {
  padding: 50px 0px;
  width: 90%;
  margin: 0 auto;
 }


/* Gallery */
.gallery {
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  margin-top: 44px;
  justify-items: center;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  }

.gallery figure{
  justify-content: center;
  align-self: center;
  max-width: 300px;
  max-height: 300px;
  }

.gallery figure img {
  position: static;
  display: block;
  width: 100%;
  border: 2px solid darkblue;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.overlay {
  position: relative;
  bottom: 300px;
  left: 2px;
  width: 100%;
  height: 100%;
  justify-self: center;
  background: gray;
  background: rgba(255, 255, 255, 0.8);
  transition: .5s ease;
  opacity: 0;
  color: darkblue;
  text-align: center;
}

.overlay .title{
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
}

.gallery figure img:hover {
  box-shadow: 6px 4px 8px grey;
}

figure:hover .overlay {
  opacity: 1;
}


/* Footer */
footer{
  grid-row: 5;
  grid-column: 1 / -1;
  width: 100%;
  margin: 60px;
  justify-self: center;
  text-align: center;
  font-size: 20px bold;
}

@media screen and (min-width:778px) {
  body {
    grid-template-rows: 45px auto auto 45px;
    grid-template-columns: 300px auto;
  }

      /* Main content */
      main {
        grid-row: 3;
        grid-column: 2;
    }

    .gallery {
        flex-flow: row wrap;
    }

    .gallery-item {
        max-width: 80%;
    }
}

  @media screen and (min-width:900px) {
    body {
      grid-template-rows: 45px auto auto 150px;
      grid-template-columns: 450px auto;
    }

    /* */
    .gallery-item {
      max-width: 300px;
    } 
     /* Footer */
    footer {
      grid-row: 4;
  }   
  }
